{% extends 'layouts/main.html' %}
{% block content %}    
{% load static %}


     
      <!-- coffee section start -->
      <div class="coffee_section layout_padding">
         <div class="container">
            <div class="row">
               <h1 class="coffee_taital">OUR Coffee OFFER</h1>
               <div class="bulit_icon"><img src="{% static 'images/bulit-icon.png' %}"></div>
            </div>
         </div>
         <div class="coffee_section_2">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'images/img-1.png' %}"></div>
                              <h3 class="types_text">TYPES OF COFFEE</h3>
                              <p class="looking_text">looking at its layout. The point of</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'images/img-2.png' %}"></div>
                              <h3 class="types_text">BEAN VARIETIES</h3>
                              <p class="looking_text">Is coffee really benefits?</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'images/img-3.png' %}"></div>
                              <h3 class="types_text">COFFEE & PASTRY</h3>
                              <p class="looking_text">Coffee or Tea at morning</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'images/img-4.png' %}"></div>
                              <h3 class="types_text">COFFEE TO GO</h3>
                              <p class="looking_text">I love coffee very much</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'images/coff9.jpg' %}"></div>
                              <h3 class="types_text">TYPES OF COFFEE</h3>
                              <p class="looking_text">Variety variety coffees</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'images/coff10.jpg' %}"></div>
                              <h3 class="types_text">BEAN VARIETIES</h3>
                              <p class="looking_text">People are so crazy of coffee</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'images/coff11.jpg' %}"></div>
                              <h3 class="types_text">COFFEE & PASTRY</h3>
                              <p class="looking_text">Highly demand of coffee</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'images/coffe4.jpg' %}"></div>
                              <h3 class="types_text">COFFEE TO GO</h3>
                              <p class="looking_text">Morning coffee routain of my life</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'images/coffe8.jpeg' %}"></div>
                              <h3 class="types_text">TYPES OF COFFEE</h3>
                              <p class="looking_text">looking for best coffee shop</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'images/coffe7.jpg' %}"></div>
                              <h3 class="types_text">BEAN VARIETIES</h3>
                              <p class="looking_text">Variety of coffee</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'images/coffe5.webp' %}"></div>
                              <h3 class="types_text">COFFEE & PASTRY</h3>
                              <p class="looking_text">Coffee lover at coffee hub</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'images/coff9.jpg' %}"></div>
                              <h3 class="types_text">COFFEE TO GO</h3>
                              <p class="looking_text">BAAJE KO CHIYAA PASAL</p>
                              <div class="read_bt"><a href="#">Read More</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-arrow-left"></i>
               </a>
               <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-arrow-right"></i>
               </a>
            </div>
         </div>
      </div>
      <!-- coffee section end -->

      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="about_taital">About Our shop</h1>
                  <div class="bulit_icon"><img src="{% static 'images/bulit-icon.png' %}"></div>
               </div>
            </div>
            <div class="about_section_2 layout_padding"> 
               <div class="image_iman"><img src="{% static 'images/about-img.png' %}" class="about_img"></div>
               <div class="about_taital_box">
                  <h1 class="about_taital_1">COFFEE & CHIYA KHAJAA GHAR</h1>
                  <p class="about_text">Welcome to our Coffee & Chiya Khaja Ghar. We are here since 1998 to run our business.</p>
                  <div class="readmore_btn"><a href="#">Read More</a>                        
                  </div>
               </div>
            </div> 
         </div>
      </div>
      <!-- about section end -->

      <!-- client section start -->
      <div class="client_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="about_taital">What syas customers</h1>
                  <div class="bulit_icon"><img src="{% static 'images/bulit-icon.png' %}"></div>
               </div>
            </div>
            <div class="client_section_2">
               <div class="client_taital_main">
                  <div class="client_left">
                     <div class="client_img"><img src="{% static 'images/client-img1.png' %}"></div>
                  </div>
                  <div class="client_right">
                     <h3 class="moark_text">Madan Gharti Magar</h3>
                     <p class="client_text">I think this coffee shop is the best in Nepal. But, people don't know about this shop location people rarely visited here.</p>
                  </div>
               </div>
               <div class="client_taital_main">
                  <div class="client_left">
                     <div class="client_img"><img src="{% static 'images/client-img2.png' %}"></div>
                  </div>
                  <div class="client_right">
                     <h3 class="moark_text">Bishnu Poudle</h3>
                     <p class="client_text">I never seen this type of coffee shop in Nepal. Here, I taste different types of coffees and taste is amazing. I hope people eyes on there.</p>
                  </div>
               </div>
               <div class="client_taital_main">
                  <div class="client_left">
                     <div class="client_img"><img src="{% static 'images/client-img3.png' %}"></div>
                  </div>
                  <div class="client_right">
                     <h3 class="moark_text">Tilak Magar</h3>
                     <p class="client_text">I don't know what i say but coffee is unbelievable. I like coffee as well as staff services. I like the coffee shop and environment is also peace.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- client section end -->      
      

      <!-- blog section start -->
      <div class="blog_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="about_taital">BHAJE KO CHIYAA PASAL</h1>
                  <div class="bulit_icon"><img src="{% static 'images/bulit-icon.png' %}"></div>
               </div>
            </div>
            <div class="blog_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="blog_box">
                        <div class="blog_img"><img src="{% static 'images/blog-img1.png' %}"></div>
                        <h4 class="date_text">05 April</h4>
                        <h4 class="prep_text">Peaceful and Clean Environment</h4>
                        <p class="lorem_text">Coffee is a beverage prepared from roasted coffee beans. Darkly colored, bitter, and slightly acidic, coffee has a stimulating effect on humans, primarily due to its caffeine content. It has the highest sales in the world market for hot drinks.
                        </p>
                     </div>
                     <div class="read_bt"><a href="">Read More</a></div>
                  </div>
                  <div class="col-md-6">
                     <div class="blog_box">
                        <div class="blog_img"><img src="{% static 'images/blog-img2.png' %}"></div>
                        <h4 class="date_text">05 April</h4>
                        <h4 class="prep_text">Everyone loves coffee</h4>
                        <p class="lorem_text">The seeds of the Coffea plant's fruits are separated to produce unroasted green coffee beans. The beans are roasted and then ground into fine particles that are typically steeped in hot water before being filtered out, producing a cup of coffee. It is usually served hot, although chilled or iced coffee is common. Coffee can be prepared and presented in a variety of ways (e.g., espresso, French press, caffè latte, or already-brewed canned coffee). Sugar, sugar substitutes, milk, and cream are often added to mask the bitter taste or enhance the flavor.</p>
                     </div>
                     <div class="read_bt"><a href="">Read More</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- blog section end -->

     
      
      {% endblock %}